http:
  routers:
    homeassistant:
      rule: "Host(`ha.ried.gir3.eu`)"
      service: homeassistant
      tls:
        certResolver: letsencrypt

{% for ip in prusa_ips %}
    prusa{{ "{:02}".format(loop.index) }}:
      rule: "Host(`prusa{{ "{:02}".format(loop.index) }}.printers.ried.gir3.eu`)"
      service: prusa{{ "{:02}".format(loop.index) }}
      middlewares:
        - prusa{{ "{:02}".format(loop.index) }}-auth
      tls:
        certResolver: letsencrypt
{% endfor %}

  services:
    homeassistant:
      loadBalancer:
        servers:
          - url: "http://{{ pi_ip }}:8123"
{% for ip in prusa_ips %}
    prusa{{ "{:02}".format(loop.index) }}:
      loadBalancer:
        servers:
          - url: "http://{{ ip }}"
{% endfor %}

  middlewares:
{% for ip in prusa_ips %}
    prusa{{ "{:02}".format(loop.index) }}-auth:
      headers:
        customRequestHeaders:
          X-Api-Key: "{{ prusa_api_keys[loop.index0] }}"
{% endfor %}
