api:
  insecure: true
entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"
providers:
  docker:
    exposedByDefault: false
    defaultRule: "Host(`{{ "{{normalize .Name}}" }}.ried.gir3.eu`)"
    network: traefik
  file:
    filename: /etc/traefik/config.yml
certificatesResolvers:
  letsencrypt:
    acme:
      email: {{ acme_email }}
      storage: acme.json
      dnsChallenge:
        provider: digitalocean