#!/bin/bash

DOMAIN=gir3.eu
RECORD_ID=1703138051  # Record for wg.ried.gir3.eu
CURRENT_IP=$(curl --silent https://api.ipify.org)
TOKEN="{{ do_auth_token }}"

curl -v -X PUT \
     -H "Content-Type: application/json" \
     -H "Authorization: Bearer ${TOKEN}" \
     -d "{\"data\":\"${CURRENT_IP}\"}" \
     "https://api.digitalocean.com/v2/domains/${DOMAIN}/records/${RECORD_ID}"