default_config:

homeassistant:
  auth_providers:
    - type: homeassistant

http:
  server_host: {{ pi_ip }}
  use_x_forwarded_for: true
  trusted_proxies:
    - 172.18.0.0/16
    - 192.168.2.0/24

zone:
  - name: Makerspace
    latitude: 48.20770485512478
    longitude: 13.487955086769986
    radius: 25
    icon: mdi:home